body {
    background-color: #dcdde1;
}

h2 {
    color: #505050;
    font-size: 40px;
}

.social {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 50px;
}

.icon-btn, i.fa {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    font-size: 40px;
    transition-duration: .5s;
}

.icon-btn:hover {
    transform: scale(1.1);
}

i.fa {
    line-height: 75px;
    margin: -5px;
}

.fa-twitter {
    color: #4099ff;
}

.fa-facebook {
    color: #3b5998;
}

.fa-google-plus {
    color: #db5a3c;
}

.fa-instagram {
    color: #5c3d2e;
}

.fa-github {
    color: #4183c4;
}

.fa:hover {
    color: #ffffff;
}

.twitter:hover {
    background-color: #4099ff;
}

.facebook:hover {
    background-color: #3b5998;
}

.google-plus:hover {
    background-color: #db5a3c;
}

.instagram:hover {
    background-color: #5c3d2e;
}

.github:hover {
    background-color: #4183c4;
}

